openapi: 3.2.0
info:
  title: OpenStreetMap API v0.6 Capabilities API
  description: The OpenStreetMap main API v0.6 provides CRUD operations for map data editing including nodes, ways, relations, changesets, and notes. Requires OAuth 2.0 authentication for write operations. Maximum bounding box query area is 0.25 square degrees. Returns XML or JSON. Intended for editing, not high-volume read access.
  version: 0.6.0
  contact:
    name: OpenStreetMap Foundation
    url: https://osmfoundation.org/
  license:
    name: ODbL 1.0 (map data) / CC BY-SA 2.0 (tiles)
    url: https://www.openstreetmap.org/copyright
servers:
- url: https://api.openstreetmap.org/api/0.6
  description: OpenStreetMap production API
- url: https://master.apis.dev.openstreetmap.org/api/0.6
  description: OSM development/sandbox API
security:
- {}
- OAuth2:
  - read_prefs
  - write_api
  - write_notes
tags:
- name: Capabilities
  description: API version and limits
paths:
  /capabilities:
    get:
      operationId: getCapabilities
      summary: Get API capabilities and limits
      description: Returns current API capabilities including version, rate limits, and maximum area limits. No authentication required.
      tags:
      - Capabilities
      security: []
      responses:
        '200':
          description: API capabilities
          content:
            application/xml:
              schema:
                type: string
            application/json:
              schema:
                $ref: '#/components/schemas/Capabilities'
components:
  schemas:
    Capabilities:
      type: object
      properties:
        version:
          type: object
          properties:
            minimum:
              type: string
            maximum:
              type: string
        area:
          type: object
          properties:
            maximum:
              type: number
              description: Max area in sq degrees
        tracepoints:
          type: object
          properties:
            per_page:
              type: integer
        waynodes:
          type: object
          properties:
            maximum:
              type: integer
        changesets:
          type: object
          properties:
            maximum_elements:
              type: integer
        notes:
          type: object
          properties:
            default_query_limit:
              type: integer
            hard_query_limit:
              type: integer
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 — required for write operations
      flows:
        authorizationCode:
          authorizationUrl: https://www.openstreetmap.org/oauth2/authorize
          tokenUrl: https://www.openstreetmap.org/oauth2/token
          scopes:
            read_prefs: Read user preferences
            write_prefs: Modify user preferences
            write_diary: Create diary entries
            write_api: Modify the map (nodes, ways, relations, changesets)
            read_gpx: Read private GPS traces
            write_gpx: Upload GPS traces
            write_notes: Create, comment on, and close notes
externalDocs:
  description: OSM API v0.6 Wiki
  url: https://wiki.openstreetmap.org/wiki/API_v0.6
